:host{
    display: flex;
    padding: 0.4rem;
    position: relative;
    z-index: 0;
}

.__user_name_email__{
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 0.2rem 0.6rem;
    border-radius: 12px;
    box-shadow: 4px 1px 4px rgba(0, 92, 187, 0.3);
    background-color: rgba(0, 92, 187, 0.3);
    color: rgb(0, 80, 150);
    align-items: center;
}

.__user_name_email__ small{
    display: inline-flex;
    align-items: center;
    gap: 0.2rem;
    opacity: 0.9;
}