<div class="FORM_CONTAINER">
    @defer () {
    <form action="" [formGroup]="fs.formData()">
        <div class="LOGO_AND_HEADING">
            <img src="logo.ico" alt="Logo image">
            <h1 id="HEADING_TEXT">{{fs.formType() == 'signup' ? 'Create Account' : 'Login'}}</h1>
        </div>

        <div class="INPUT_CONTAINER" *formInputType="'name'">
            <input appFocusblur type="text" formControlName="name" aria-label="Name Input Field">
            <label htmlFor="name">Name</label>
            <div @icon class="STATUS_ICON not_password" *ngIf="fs.formData()?.get('name')?.valid">
                <div><mat-icon>check_small</mat-icon></div>
            </div>
        </div>

        <div>
            <div class="INPUT_CONTAINER" *formInputType="'email'">
                <input appFocusblur type="email" formControlName="email" aria-label="Email Input Field" name="email">
                <label htmlFor="email">Email</label>
                <div @icon class="STATUS_ICON not_password" *ngIf="fs.formData().get('email')?.valid">
                    <div><mat-icon>check_small</mat-icon></div>
                </div>
            </div>
            <small class="EMAIL_MESSAGE" *formInputType>We don't share your email with anyone else.</small>
        </div>

        <div class="INPUT_CONTAINER" *formInputType="'password'">
            <input appFocusblur #passwordInput type="password" formControlName="password" aria-label="Password Input Field"
                name="password">
            <label htmlFor="password">Password</label>
            <div @icon class="STATUS_ICON" *ngIf="fs.formData().get('password')?.valid">
                <div><mat-icon>check_small</mat-icon></div>
            </div>
            <button [appButton]="passwordInput" @icon type="button" class="VISIBILITY"
                *ngIf="fs.formData().get('password')?.value?.length > 0"><mat-icon>{{passwordInput.type == "password"
                    ? "visibility" :
                    "visibility_off"}}</mat-icon></button>
        </div>

        <div class="INPUT_CONTAINER" *formInputType="'confirm_password'">
            <input appFocusblur #cpassInput type="password" formControlName="confirm_password" aria-label="Confirm Password Input Field" name="confirm_password">
            <label htmlFor="confirm_password">Confirm Password</label>
            <div @icon class="STATUS_ICON" *ngIf="fs.formData().get('confirm_password')?.valid">
                <div><mat-icon>check_small</mat-icon></div>
            </div>
            <button [appButton]="cpassInput" @icon type="button" class="VISIBILITY"
                *ngIf="fs.formData().get('confirm_password')?.value?.length > 0"><mat-icon>{{cpassInput.type == "password" ? "visibility" : "visibility_off"}}</mat-icon></button>
        </div>

        <div class="SUBMIT_BUTTON_CONTAINER">
            <button appButton="SUBMIT_BTN" type="button">{{auth.isSubmitting() ? "Submitting" : "Submit"}}</button>
        </div>
    </form>
    }
    @loading {
    <div>
        <p>Loading...</p>
    </div>
    }
</div>