.status_icon,
input {
    background-color: transparent
}

.__submit_btn_container__,
img {
    @apply self-center
}

img {
    @apply h-10 w-16
}

.__form_container__ {
    @apply flex justify-center min-h-screen items-center
}

.form {
    @apply flex flex-col gap-4 px-5 py-2 w-[25rem] rounded-md bg-sky-200;
    box-shadow: 0 0 5px -1.6px #0A5EB0;
}

.__signup_login_helper_links__ {
    @apply self-end
}

.__signup_login_helper_links__ p {
    @apply text-[12px]
}

.__signup_login_helper_links__ a {
    @apply text-[#0A5EB0] text-[12px]
}

.logo_heading {
    @apply flex flex-col;
}

#heading_text {
    font-family: "Montserrat", sans-serif;
    @apply text-center font-semibold text-3xl;
}

.__input_container__ {
    @apply border border-black transition-all duration-[0.1s] ease-linear rounded-[0.2rem] relative flex items-center;
}

.status_icon {
    @apply px-[2px] inline-flex text-green-600 absolute right-[40px] z-[3] top-[9px];
}

.status_icon.not_password {
    @apply top-[10px] right-[10px];
}

div.__input_container__:focus-within {
    box-shadow: 0 0 3px 1px #433878;
    @apply border-[1px] border-solid border-[#433878];
}

input {
    @apply outline-none py-[8px] px-[8px] grow-[1] relative z-[1] caret-[#136409] border-none;
}

.VISIBILITY,
label {
    @apply absolute px-[2px];
}

label {
    @apply cursor-text select-none left-[6px] transition-all duration-[0.08s] ease-linear;
}

.FOCUSED_OR_FILLED_LABEL {
    @apply translate-y-[-21px] bg-sky-200 text-[12px]
}

input::-ms-reveal {
    display: none
}

button {
    @apply border-none cursor-pointer
}

.__submit_btn_container__ button {
    @apply bg-[#433878] tracking-[1px] border-none shadow-[#80c4e9] transition-all duration-[0.1s] ease-linear py-[4px] px-[10px] rounded-[4px] text-white
}

.button_disabled {
    @apply opacity-[0.5] cursor-not-allowed;
}

.button_allowed,
.VISIBILITY {
    cursor: pointer
}

.__submit_btn_container__ .button_allowed:hover {
    box-shadow: 0 0 4px #2e236c
}

.VISIBILITY {
    @apply right-[10px] transition-all z-[2] inline-flex rounded-[4px] bg-transparent;
}

.__email_message__ {
    @apply opacity-[0.7] text-[12px]
}


/* media queries */

@media screen and (min-width: 600px) {
    input {
        @apply py-[9px]
    }
    .FOCUSED_OR_FILLED_LABEL{
        @apply translate-y-[-23px]
    }
}

@media screen and (min-width: 1024px){
    input{
        @apply py-[12px]
    }

    .FOCUSED_OR_FILLED_LABEL{
        @apply translate-y-[-24px]
    }
}