<ng-container>
    <div class="input_container" *formInputType="'password'">
        <input appFocusblur #passwordInput type="password" formControlName="password" aria-label="Password Input Field"
            name="password">
        <label htmlFor="password">Password</label>
        <div @icon class="status_icon" *ngIf="fs.formData().get('password')?.valid">
            <div><mat-icon>check_small</mat-icon></div>
        </div>
        <button [appButton]="passwordInput" @icon type="button" class="VISIBILITY"
            *ngIf="fs.formData().get('password')?.value?.length > 0"><mat-icon>{{passwordInput.type == "password"
                ? "visibility" :
                "visibility_off"}}</mat-icon></button>
    </div>

    <div class="input_container" *formInputType="'confirm_password'">
        <input appFocusblur #cpassInput type="password" formControlName="confirm_password"
            aria-label="Confirm Password Input Field" name="confirm_password">
        <label htmlFor="confirm_password">Confirm Password</label>
        <div @icon class="status_icon" *ngIf="fs.formData().get('confirm_password')?.valid">
            <div><mat-icon>check_small</mat-icon></div>
        </div>
        <button [appButton]="cpassInput" @icon type="button" class="VISIBILITY"
            *ngIf="fs.formData().get('confirm_password')?.value?.length > 0"><mat-icon>{{cpassInput.type == "password" ?
                "visibility" : "visibility_off"}}</mat-icon></button>
    </div>
</ng-container>