<ng-container [formGroup]="form">
    <div>
        <div class="input_container" *formInputType="'email'">
            <input autocomplete="off" appFocusblur type="email" formControlName="email" aria-label="Email Input Field" name="email">
            <label htmlFor="email">Email</label>
            <div @icon class="status_icon not_password" *ngIf="fs.formData().get('email')?.valid">
                <div><mat-icon>check_small</mat-icon></div>
            </div>
        </div>
        <small aria-label="Email Security Message" class="EMAIL_MESSAGE" *formInputType>We don't share your email with anyone else.</small>
    </div>

    <div class="input_container" *formInputType="'password'">
        <input autocomplete="off" appFocusblur #passwordInput type="password" formControlName="password" aria-label="Password Input Field"
            name="password">
        <label htmlFor="password">Password</label>
        <div @icon class="status_icon" *ngIf="fs.formData().get('password')?.valid">
            <div><mat-icon>check_small</mat-icon></div>
        </div>
        <button [appButton]="passwordInput" @icon type="button" class="VISIBILITY"
            *ngIf="fs.formData().get('password')?.value?.length > 0"><mat-icon>{{passwordInput.type == "password"
                ? "visibility" :
                "visibility_off"}}</mat-icon></button>
    </div>
</ng-container>