.header{
    @apply flex justify-between h-16 items-center px-8 relative bg-[#81BFDA]
}

img{
    @apply h-8 w-8
}

.rightNav{
    @apply flex gap-[0.5rem]
}

.leftNav{
    @apply flex gap-4 items-center
}

.sidebar{
    @apply bg-[#B1F0F7] fixed w-[70vw] inset-0 z-[2] min-h-screen flex justify-between -translate-x-full transition-all duration-[0.2s] ease-in-out;
}

.link_container{
    @apply flex flex-col items-start gap-[0.2rem] pt-[10px]
}

.link_container li{
    @apply list-none ml-[10px]
}

.link_container li a{
    text-decoration: none;
    @apply text-black;
}

.rightNav li{
    @apply list-none;
}


.leftNav button{
    @apply border-none bg-transparent cursor-pointer
}

.rightNav button{
    @apply flex py-[4px] px-[5px] rounded-[5px] border-none cursor-pointer bg-transparent
}

button:hover{
    background-color: rgba(0, 0, 0, 0.1);
}

.sidebar button{
    background-color: rgba(0, 0, 0, 0);
    @apply text-black border-none self-start pr-2 pt-[10px] cursor-pointer
}

@media (min-width: 600px){
    .rightNav button{
        padding: 4px 10px;
    }

    .leftNav{
        gap: 1.5rem;
    }

    .header{
        padding: 0 2rem;
    }
}

/* Sidebar is hide for larger screen */
@media (min-width: 1024px){
    .sidebar{
        display: none;
    }
}