:host{
    display: flex;
    justify-content: space-between;
    background-color: rgb(45 127 199);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    height: 4rem;
    padding: 0 2rem;
    align-items: center;
}

a{
    color: white;
    text-decoration: none;
}

.__left_nav__{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.__right_nav__{
    display: flex;
    gap: 1rem;
}

.active_link{
    color: #3D3BF3;
}

.__logo__container__ a img{
    width: 2.5rem;
    height: 2.5rem;
}