*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

:root{
    --input_label_top_padding: 0.8rem;
    --input_field_padding: var(--input_label_top_padding) 0.5rem;
    --input_field_gap: 1rem;
    --label_color: rgb(52 58 64);
    --label_left_padding: 0.5rem;
    --form_background_color: rgb(179, 200, 207);
    --form_button_color: rgb(30, 103, 177);
    --dashboard_color: rgb(79 113 214 / 64%);
}

a{
    background-color: transparent;
}

.disabled_btn{
    cursor: not-allowed;
    opacity: 0.5;
}

button{
    position: relative;
    z-index: 1;
}

.active_link{
    background-color: rgba(0, 92, 187, 0.15);
}

.snackbar{
    position: fixed;
    bottom: 1rem;
    text-align: center;
    padding: 0.5rem 0.8rem;
    color: white;
    border-radius: 4px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);
    animation: snackbar 0.2s ease-in-out;
}

@keyframes snackbar{
    from{
        opacity: 0;
        transform: translateY(100%);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }
}

.snackbar_hide{
    animation: snackbar_hide 0.5s ease-in-out;
}

@keyframes snackbar_hide {
    to{
        opacity: 0;
        transform: translateY(100%);
    }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
