*{
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

.active {
    color: rgb(150, 207, 45);
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.ng-star-inserted{
    animation: component 0.15s ease-in-out;
}

@keyframes component{
    0%{
        opacity: 0;
        transform: scale(0.75);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}
