<div class="__top_items_container__">
  <div class="__top_items__">
    <div><a routerLink="./courses" navLink>Courses</a></div>
    <div><a routerLink="./quiz" navLink>Quiz</a></div>
    <div><a routerLink="./notification" navLink>Notification</a></div>
    <div><a routerLink="./materials" navLink>Materials</a></div>
  </div>
  <div class="__arrow_icons__"><button
      (click)="toggleSidebar()"></button></div>
</div>

<div class="__bottom_items__">
  <div><a routerLink="./settings" navLink>Settings</a></div>
  <div><a routerLink="./privacy" navLink>Privacy</a></div>
</div>